<body style='background-color:black;color:white;'>
<ul style='list-style-type:none;text-align:center;font-size:17px;font-family:georgia;'>
<br><br><br><br>
	<li>
		<form action="{% url 'home' %}" method="post">
			{% csrf_token %}
		    your name &emsp;<input type="text" name="alias"> &emsp; for mine
			<br>
			<button type="submit" style="height:310px;width:900px;background-color:black;padding:0; border:none;text-align:left;"><span style="font-size:280px;color:white;font-family:impact;">SUBMIT</span></button>
		</form></li></ul></body>