<body style='background-color:gray;text-align:center;'>
<a href="{% url 'contribute' alias.id %}" style='font-size:50px;color:black;text-decoration:none;'><strong>s a b r i n a</strong></a>

<br>
ba-boom. <br>
[&emsp;{{new.alias.name}}&emsp;,&emsp;{{new.tag}}&emsp;]
<br>
<br>
<br>
<table style="width:80%;" align="center">
	<tr>
	 <th>&emsp;</th>
	 <th style="text-align:center;color:white;font-family:impact;font-size:21px">&emsp;&emsp;&emsp;&emsp;&emsp;HEARTMONITOR</th>
	 <th style="width:60%">&emsp;</th>
	</tr>
	{% for b in beats %}
	<tr>
		<td style="text-align:right;font-size:20px;"><strong>sabrina:</strong></td>
		<td style='text-align:left;'>
		<img style="-webkit-user-select: none;background-position: 0px 0px, 10px 10px;background-size: 20px 20px;background-color: gray;background-image:linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%),linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%);" src="https://s3.amazonaws.com/pix.iemoji.com/images/emoji/apple/ios-10/256/red-heart.png" width="40" height="40">
		</td>
		<td style='text-align:center;font-size:13px;font-family:courier;'>{{b.tag}}</td>
	</tr>
	{% endfor %}
</table>

