
<body style='background-color:gray;text-align:center;'>
<h1 style='font-size:50px'>s a b r i n a</h1>
<table style="width:80%;" align="center">
	<tr>
		<th style="text-align:right;width:70%;">
			<span style='text-decoration:none;color:white;font-family:impact;font-size:21px;'>RECENT 
			<a href="{% url 'thoughts' alias.id %}" style="color:white;text-decoration-color:white;">THOUGHTS</a></span>&emsp;&emsp;&emsp;&emsp;</th>
		<th style="text-align:left;"><a href="https://www.facebook.com/sharer/sharer.php?u=www.postsubjectivity.com/sabrina/view" style='text-decoration:none;color:black;font-size:16px'>share to facebook</a></button>&emsp;&emsp;&emsp;</th>
	</tr>
	{% for h in habla %}
	<tr>
		<td style='text-align:left;font-size:20px;font-family:georgia;'>
		  <span style='color:darkred;'><strong>sabrina:</strong></span> {{h.0}}
		</td>
		<td style='text-align:left;font-size:11px;font-family:courier;'>{{h.1}}</td>
	</tr>
	{% endfor %}
	<tr>
	<td style="text-align:left;">
		<form action="{% url 'contribute' alias.id %}" method="post">
			{% csrf_token %}
			<span style='color:darkred;font-family:georgia;font-size:20px'><strong>sabrina:</strong>
			<input type="text" name="talk" style='width:50%'><button type="submit">post</button></span>
		</form>
	</td>
	<td>&emsp;</td>
	</tr>
</table>
<h2>SABRINA OFFICIAL UPDATE:</h2>
questions now exist for sabrina <a href="{% url 'questions' alias.id%}">ask sabrina questions</a>

<p style='text-align:center;'><a href="{% url 'official' alias.id %}">sabrina official</a>&emsp;&emsp;&emsp;&emsp;<a href="{% url 'heartbeats' alias.id %}">sabrina heartbeats</a>&emsp;&emsp;&emsp;&emsp;<a href="{% url 'thoughts' alias.id %}">sabrina thoughts</a>&emsp;&emsp;&emsp;&emsp;<a href="{% url 'incarnations' alias.id %}">sabrina exposed</a></p>




