<head>
	<meta property='og:title' content="recent thoughts"/>
	<meta property='og:description' content="{{habla.9.0}}"/>
	<meta property="og:type" content="article"/>
</head>

<body style='background-color:antiquewhite;text-align:center;'>
<h1 style=>s a b r i n a || s c h y</h1>

<p style='text-align:center;'><a href="{% url 'oficial' alias.id %}">SABRINA OFFICIAL</a>&emsp;&emsp;&emsp;&emsp;<a href="{% url 'latidos' alias.id %}">SABRINA HEARTBEATS</a>&emsp;&emsp;&emsp;&emsp;<a href="{% url 'incarnations' alias.id %}">SABRINA PUBLIC</a></p>

<table style="width:80%;" align="center">
	<tr>
		<th style="text-align:right;width:70%;"><h2>who is sabrina&emsp;&emsp;&emsp;&emsp;&emsp;</h2></th>
		<th style="text-align:left;"><button><a href="https://www.facebook.com/sharer/sharer.php?u=pythonsemiotics.herokuapp.com/home" target="_blank" style='text-decoration:none;color:black;'>share</a></button>&emsp;&emsp;&emsp;</th>
	</tr>
	{% for h in habla %}
	<tr>
		<td style='text-align:left;font-size:20px;font-family:georgia;'>
		  <span style='color:darkolivegreen;'><strong>sabrina:</strong></span> {{h.0}}
		</td>
		<td style='text-align:left;font-size:11px;font-family:courier;'>{{h.1}}</td>
	</tr>
	{% endfor %}
	<tr>
	<td style="text-align:left;">
		<form action="{% url 'contribute' alias.id %}" method="post">
			{% csrf_token %}
			<span style='color:darkolivegreen;font-family:georgia;font-size:20px'><strong>sabrina:</strong>
			<input type="text" name="talk" style='width:50%'><button type="submit">post</button></span>
		</form>
	</td>
	<td>&emsp;</td>
	</tr>
</table>

<br>

<h2>SABRINA OFFICIAL UPDATE:<h2>

