<head>
</head>

<body style="text-align:center;background-color:white;color:black;" id="body">
<br><br>
<table width="60%" align="center" style="vertical-align:center;">
	<td>
		<h4 id="texts" style="text-align:center;vertical-align:center;"></h4>
	</td>
</table>
<br><br><br><br>
<h3><a style= "text-decoration:none;" id="link"></a></h3>

<script>
	var color = "black"
	var current = "{{new_text}}";
	document.getElementById('texts').innerHTML = current;
	var links = [['https://i.pinimg.com/736x/49/fa/97/49fa9796a2e16d2a52ce8cfd60c69cd2--illustration-design-photographic-prints.jpg', "IMAGES"],['{% url "writing" %}',"TEXTS"], ['{% url "writing" %}', "SABRINA"]]
	var count = 0;
	var body = document.getElementById('body');
	document.querySelector('h3').innerHTML = links[0];
	window.onload = function() {
		setInterval(function(){
			$("#texts").hide();
			$.ajax({
				url: "{% url 'index_ajax' %}",
				data: {'last_text': current},
				success: function (data) {
					body.style.backgroundColor = "white";
					body.style.color = "black";
					color = "black";
					count += 2;
					$("#h3").hide();
					document.getElementById('link').innerHTML = links[count%3][1];
					document.getElementById('link').style.color = color;
					document.getElementById('link').href = links[count%3][0];
					$("#h3").show(1000);
					output = data.text;
					document.getElementById('texts').innerHTML = output;
					current = output;
					$("#texts").show();
				}
			});
		}, 16000);
		setInterval(function (){
			body.style.backgroundColor = "black";
			body.style.color = "white";
			color = "white";
			count += 2;
			$("#h3").hide();
			document.getElementById('link').innerHTML = links[count%3][1];
			document.getElementById('link').style.color = color;
			document.getElementById('link').href = links[count%3][0];
			$("#h3").show(1000);
		}, 8000);

	};
</script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>



