<head>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>

<body style="text-align:center;background-color:white;color:black;" id="body">
	<div id="entry">
<br><br>
<table width="60%" align="center" style="vertical-align:center;">
	<td>
		<h4 id="texts" style="text-align:center;vertical-align:center;"></h4>
	</td>
</table>
<br><br><br><br>
<a href="#" id="link" style="text-decoration:none;"><strong>SEE IMAGES</strong></a>
</div>
<div style="text-align:center;background-color:white;color:black;" id="images">
	<p style="text-align:left;"><a href="#" id="link2" style="text-decoration:none;color:black;"><strong>SEE TEXT</strong></a></p>
	<table align="center">
		{% for i in image_links %}
		<td class="insta" style="border:2px solid black;text-align:center;">{{i}}</td>
		<td>&emsp;&emsp;&emsp;</td>
		{% endfor %}
	<br><br>
</div>
</body>

<script>
	$("#images").hide();
	var color = "black";
	var current = "{{new_text}}";
	var insta_tags = '{{image_links}}';
	var all_insta = document.getElementsByClassName('insta');
	for(i=0;i<all_insta.length,i++){all_insta[i].innerHTML=insta_tags[i];}
	document.getElementById('texts').innerHTML = current;
	document.getElementById('link').style.color = color;
	var body = document.getElementById('body');
	window.onload = function() {
		setInterval(function(){
			if(!$('#entry').is(':hidden')){
				$.ajax({
					url: "{% url 'index_ajax' %}",
					data: {'last_text': current},
					success: function (data) {
						$("#texts").hide();
						body.style.backgroundColor = "white";
						body.style.color = "black";
						color = "black";
						output = data.text;
						document.getElementById('texts').innerHTML = output;
						current = output;
						$("#texts").show();
						document.getElementById('link').style.color = color;
					}
				});
			}
		}, 16000);
		setInterval(function (){
			if (!$('#entry').is(':hidden')){
				body.style.backgroundColor = "black";
				body.style.color = "white";
				color = "white";
				document.getElementById('link').style.color = color;
			}
		}, 8000);

	};

	document.getElementById('link').onclick = function () {
		body.style.backgroundColor = "white";
		body.style.color = "black";	
		$("#entry").hide(500);
		$("#images").show(500);
	}
	document.getElementById('link2').onclick = function () {
		$("#images").hide(500);
		$("#entry").show(500);
	}
</script>



