<head>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>

<body style="text-align:center;background-color:white;color:black;" id="entry">
<br><br>
<table width="60%" align="center" style="vertical-align:center;">
	<td>
		<h4 id="texts" style="text-align:center;vertical-align:center;"></h4>
	</td>
</table>
<br><br><br><br>
<a href="#" id="link" style="text-decoration:none;"></a>
</body>

<div style="text-align:center;background-color:white;color:black;" id="images">
	<img src="https://i.pinimg.com/736x/49/fa/97/49fa9796a2e16d2a52ce8cfd60c69cd2--illustration-design-photographic-prints.jpg">
</div>
<script>
	$("#images").hide();
	var color = "black";
	var current = "{{new_text}}";
	document.getElementById('texts').innerHTML = current;
	var links = ["<strong>IMAGES</strong>", "<strong>TEXTS</strong>"];
	document.getElementById('link').innerHTML = links[0];
	document.getElementById('link').style.color = color;
	var count = 0;
	var entry = document.getElementById('entry');
	window.onload = function() {
		setInterval(function(){
			$("#texts").hide();
			$.ajax({
				url: "{% url 'index_ajax' %}",
				data: {'last_text': current},
				success: function (data) {
					entry.style.backgroundColor = "white";
					entry.style.color = "black";
					color = "black";
					count += 1;
					$("#link").hide();
					document.getElementById('link').innerHTML = links[count%2];
					document.getElementById('link').style.color = color;
					document.getElementById('link')
					$("#link").show();
					output = data.text;
					document.getElementById('texts').innerHTML = output;
					current = output;
					$("#texts").show();
				}
			});
		}, 16000);
		setInterval(function (){
			entry.style.backgroundColor = "black";
			entry.style.color = "white";
			color = "white";
			count += 1;
			$("#link").hide();
			document.getElementById('link').innerHTML = links[count%2];
			document.getElementById('link').style.color = color;
			$("#link").show();
		}, 8000);

	};

	document.getElementById('link').onclick = function () {
		$("#entry").hide(500);
		$("#images").show(500);
	}
</script>



